## Data Loading

In [1]:
import pandas as pd
import numpy as np
import sklearn
from scipy.sparse import csr_matrix
from sklearn.decomposition import TruncatedSVD

books = pd.read_csv("data/books.csv")
books.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [2]:
# Only keep necessary columns for Books DataFrame
cols = ['book_id', 'isbn', 'authors', 'title', 'language_code', 'average_rating', 'ratings_count']
books = books[cols]

# Only keep books that are in English
books = books.loc[books['language_code'].isin(['eng', 'en-US', 'en-CA', 'en-GB'])]
books.head()

,book_id,isbn,authors,title,language_code,average_rating,ratings_count
0,1,439023483,Suzanne Collins,"The Hunger Games (The Hunger Games, #1)",eng,4.34,4780653
1,2,439554934,"J.K. Rowling, Mary GrandPré",Harry Potter and the Sorcerer's Stone (Harry P...,eng,4.44,4602479
2,3,316015849,Stephenie Meyer,"Twilight (Twilight, #1)",en-US,3.57,3866839
3,4,61120081,Harper Lee,To Kill a Mockingbird,eng,4.25,3198671
4,5,743273567,F. Scott Fitzgerald,The Great Gatsby,eng,3.89,2683664

In [3]:
ratings = pd.read_csv("data/ratings.csv")
ratings.head()

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

## PART 1: Collaborative Filtering with kNN

#### Idea: Represent ratings as a matrix M
* Each row is a book, each column is a user 
* M[i][j] = k -- means user j rated book i with k stars

#### First, combine books and ratings based on book_id

In [4]:
combine_book_rating = pd.merge(ratings, books, on='book_id')
columns = ['user_id', 'book_id', 'rating', 'title']
combine_book_rating = combine_book_rating[columns]
print(combine_book_rating.shape)
combine_book_rating.head()

(5577975, 4)

   user_id  book_id  rating                                              title
0        1      258       5  The Shadow of the Wind (The Cemetery of Forgot...
1       11      258       3  The Shadow of the Wind (The Cemetery of Forgot...
2      143      258       4  The Shadow of the Wind (The Cemetery of Forgot...
3      242      258       5  The Shadow of the Wind (The Cemetery of Forgot...
4      325      258       4  The Shadow of the Wind (The Cemetery of Forgot...

#### Get total number of ratings per book

In [30]:
ratings_count = combine_book_rating.groupby(by=['title'])['rating'].count().reset_index()
ratings_count = ratings_count.rename(columns = {'rating': 'ratings_count'})
ratings_count.head()

                                               title  ratings_count
0                          Angels (Walsh Family, #3)            263
1                                          #GIRLBOSS            195
2                                       'Salem's Lot           4433
3                           'Tis (Frank McCourt, #2)            703
4  10% Happier: How I Tamed the Voice in My Head,...            297

In [31]:
rating_with_count = combine_book_rating.merge(ratings_count, left_on = 'title', right_on = 'title', how = 'left')
rating_with_count.head()

,user_id,book_id,rating,title,ratings_count
0,1,258,5,The Shadow of the Wind (The Cemetery of Forgot...,3531
1,11,258,3,The Shadow of the Wind (The Cemetery of Forgot...,3531
2,143,258,4,The Shadow of the Wind (The Cemetery of Forgot...,3531
3,242,258,5,The Shadow of the Wind (The Cemetery of Forgot...,3531
4,325,258,4,The Shadow of the Wind (The Cemetery of Forgot...,3531

#### Remove rows that have the same user_id and book_id

In [33]:
if not rating_with_count[rating_with_count.duplicated(['user_id', 'title'])].empty:
    initial_rows = rating_with_count.shape[0]
    print('Initial dataframe shape {0}'.format(rating_with_count.shape))
    rating_with_count = rating_with_count.drop_duplicates(['user_id', 'title'])
    current_rows = rating_with_count.shape[0]
    print('New dataframe shape {0}'.format(rating_with_count.shape))
    print('Removed {0} rows'.format(initial_rows - current_rows))

Initial dataframe shape (5577975, 5)
New dataframe shape (5577229, 5)
Removed 746 rows

#### Pivoting: book title vs. user ID

In [36]:
# For memory limitations, select the first 1 million ratings only
rating_with_count = rating_with_count[:1000000]
rating_pivot = rating_with_count.pivot(index = 'title', columns = 'user_id', values = 'rating').fillna(0)
rating_pivot.head()

user_id,1,2,3,4,5,6,7,8,9,10,...,53414,53415,53417,53418,53419,53420,53421,53422,53423,53424
title,,,,,,,,,,,,,,,,,,,,,
'Salem's Lot,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
1984,4.0,0.0,2.0,4.0,0.0,0.0,5.0,4.0,5.0,0.0,...,3.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
"A Child Called ""It"" (Dave Pelzer #1)",0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0
A Confederacy of Dunces,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Dangerous Fortune,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Train kNN model

In [38]:
rating_matrix = csr_matrix(rating_pivot.values)

from sklearn.neighbors import NearestNeighbors

model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(rating_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
         metric_params=None, n_jobs=None, n_neighbors=5, p=2, radius=1.0)

In [69]:
list(rating_pivot.index)

["'Salem's Lot",
 '1984',
 'A Child Called "It" (Dave Pelzer #1)',
 'A Confederacy of Dunces',
 'A Dangerous Fortune',
 'A Farewell to Arms',
 'A Heartbreaking Work of Staggering Genius',
 'A Man Without a Country',
 'A Moveable Feast',
 'A Prayer for Owen Meany',
 'A Time to Kill',
 'About a Boy',
 'Alas, Babylon',
 'American Gods (American Gods, #1)',
 'American Pastoral (The American Trilogy, #1)',
 'Amerika',
 'And Then There Were None',
 "Angela's Ashes (Frank McCourt, #1)",
 'Angels & Demons  (Robert Langdon, #1)',
 'Animal Dreams',
 'Animal Farm',
 'As I Lay Dying',
 'Atlas Shrugged',
 'Atonement',
 'Balzac and the Little Chinese Seamstress',
 'Barrel Fever: Stories and Essays',
 'Bel Canto',
 'Belinda',
 'Black Beauty',
 'Bleachers',
 'Blindness',
 'Blubber',
 'Bluebeard',
 'Brave New World',
 "Breakfast at Tiffany's",
 'Breakfast of Champions',
 'Bridge to Terabithia',
 "Bridget Jones's Diary (Bridget Jones, #1)",
 'Candide',
 'Carry on, Jeeves (Jeeves, #3)',
 "Cat's Cradle",
 'Catch-22',
 'Charlie and the Chocolate Factory (Charlie Bucket, #1)',
 'Chocolat (Chocolat, #1)',
 'Chronicles, Vol. 1',
 'Cloud Atlas',
 'Confessions of an Ugly Stepsister',
 'Congo',
 'Cradle and All',
 'Cradle to Cradle: Remaking the Way We Make Things',
 'Crime and Punishment',
 'Cry, the Beloved Country',
 'Cryptonomicon',
 'Darkness at Noon',
 'Deception Point',
 'Different Seasons',
 'Disgrace',
 'Divine Secrets of the Ya-Ya Sisterhood',
 'Down and Out in Paris and London',
 'Dress Your Family in Corduroy and Denim',
 'Dry',
 'Eats, Shoots & Leaves: The Zero Tolerance Approach to Punctuation',
 'Emma',
 'Empire Falls',
 "Ender's Game (Ender's Saga, #1)",
 'Everything Is Illuminated',
 "Everything's Eventual: 14 Dark Tales",
 'Extremely Loud and Incredibly Close',
 'Fast Food Nation: The Dark Side of the All-American Meal',
 'Fear and Loathing in Las Vegas',
 'Frankenstein',
 'Franny and Zooey',
 "Franz Kafka's The Castle (Dramatization)",
 'Freakonomics: A Rogue Economist Explores the Hidden Side of Everything (Freakonomics, #1)',
 'Gilead (Gilead, #1)',
 'Girl with a Pearl Earring',
 'Gone with the Wind',
 'Good in Bed (Cannie Shapiro, #1)',
 'Griffin and Sabine (Griffin & Sabine #1)',
 "Gulliver's Travels",
 'Guns, Germs, and Steel: The Fates of Human Societies',
 'Harry Potter Collection (Harry Potter, #1-6)',
 'Harry Potter and the Chamber of Secrets (Harry Potter, #2)',
 'Harry Potter and the Goblet of Fire (Harry Potter, #4)',
 'Harry Potter and the Half-Blood Prince (Harry Potter, #6)',
 'Harry Potter and the Order of the Phoenix (Harry Potter, #5)',
 'Harry Potter and the Prisoner of Azkaban (Harry Potter, #3)',
 "Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",
 "Hatchet (Brian's Saga, #1)",
 'Haunted',
 'Heart of Darkness',
 'Hearts in Atlantis',
 'High Fidelity',
 'Holidays on Ice',
 'Holy Cow: An Indian Adventure',
 'Homicidal Psycho Jungle Cat: A Calvin and Hobbes Collection',
 'Housekeeping',
 'How to Win Friends and Influence People',
 'Howl and Other Poems',
 'I Know This Much Is True',
 'I Know Why the Caged Bird Sings',
 'I Like You: Hospitality Under the Influence',
 'I am Charlotte Simmons',
 'In Cold Blood',
 'Interpreter of Maladies',
 'Into Thin Air: A Personal Account of the Mount Everest Disaster',
 'It',
 'J.R.R. Tolkien 4-Book Boxed Set: The Hobbit and The Lord of the Rings',
 'Jennifer Government',
 'Jonathan Livingston Seagull',
 'Kitchen Confidential: Adventures in the Culinary Underbelly',
 "Kurt Vonnegut's Cat's Cradle (Modern Critical Interpretations)",
 'Lasher (Lives of the Mayfair Witches, #2)',
 'Laughable Loves',
 'Lies My Teacher Told Me',
 'Little Women (Little Women, #1)',
 'Lord of the Flies',
 'Love in the Time of Cholera',
 'Mansfield Park',
 'Matilda',
 'Me Talk Pretty One Day',
 'Meditations',
 'Memoirs of a Geisha',
 'Memories of My Melancholy Whores',
 'Mere Christianity',
 'Merrick (The Vampire Chronicles #7)',
 'Middlesex',
 "Midnight's Children",
 'Mirror Mirror',
 'Moby-Dick or, The Whale',
 'Motherless Brooklyn',
 'Naked',
 'Never Let Me Go',
 'Night (The Night Trilogy #1)',
 'Night Shift',
 'Nightmares and Dreamscapes',
 'Nine Stories',
 'Number the Stars',
 'Of Mice and Men',
 'Oliver Twist',
 'On the Road',
 'One Day in the Life of Ivan Denisovich',
 'One Hundred Years of Solitude',
 'Oryx and Crake (MaddAddam, #1)',
 'Out of the Silent Planet (Space Trilogy, #1)',
 'Paradiso (The Divine Comedy, #3)',
 'Paris to the Moon',
 'Perfume: The Story of a Murderer',
 'Persuasion',
 'Pigs in Heaven',
 'Possession',
 'Pride and Prejudice',
 'Prodigal Summer',
 'Quicksilver (The Baroque Cycle, #1)',
 'Rainbow Six (Jack Ryan Universe, #10)',
 'Raise High the Roof Beam, Carpenters & Seymour: An Introduction',
 'Red Dragon (Hannibal Lecter, #1)',
 'Running with Scissors',
 'Scarlett',
 'Sense and Sensibility',
 "She's Come Undone",
 'Sideways Stories from Wayside School (Wayside School #1)',
 'Slapstick, or Lonesome No More!',
 'Slaughterhouse-Five',
 'Snow Crash',
 'Song of Solomon',
 'Sons and Lovers',
 "Sophie's Choice",
 "Speaker for the Dead (Ender's Saga, #2)",
 'Sphere',
 'State of Fear',
 'Stiff: The Curious Lives of Human Cadavers',
 'Storm Front (The Dresden Files, #1)',
 'Stranger in a Strange Land',
 'Tales of a Female Nomad: Living at Large in the World',
 'The Adventures of Huckleberry Finn',
 'The Alchemist',
 'The Algebraist',
 'The Amazing Adventures of Kavalier & Clay',
 'The Autumn of the Patriarch',
 'The Awakening',
 'The BFG',
 'The Bachman Books',
 'The Baron in the Trees',
 'The Bean Trees (Greer Family, #1)',
 'The Blind Owl',
 "The Bonesetter's Daughter",
 'The Book Thief',
 "The Botany of Desire: A Plant's-Eye View of the World",
 'The Bourne Identity (Jason Bourne, #1)',
 'The Broker',
 'The Catcher in the Rye',
 'The Children of Men',
 'The Chronicles of Narnia (Chronicles of Narnia, #1-7)',
 'The Client',
 'The Communist Manifesto',
 'The Complete Maus (Maus, #1-2)',
 'The Complete Tales and Poems',
 'The Corrections',
 'The Count of Monte Cristo',
 'The Crucible',
 'The Curious Incident of the Dog in the Night-Time',
 'The Da Vinci Code (Robert Langdon, #2)',
 'The Dead',
 'The Dead Zone',
 'The Devil Wears Prada (The Devil Wears Prada, #1)',
 'The Drama of the Gifted Child: The Search for the True Self',
 'The Feast of All Saints',
 'The Firm',
 'The Firm (Penguin Readers, Level 5)',
 'The Fountainhead',
 'The Giver (The Giver, #1)',
 'The Giving Tree',
 'The Glass Castle',
 'The Grapes of Wrath',
 'The Great Gatsby',
 'The Green Mile',
 'The Gunslinger (The Dark Tower, #1)',
 "The Handmaid's Tale",
 'The History of Love',
 'The Hobbit',
 'The Hours',
 'The House of God',
 'The Human Stain (The American Trilogy, #3)',
 'The Hunchback of Notre-Dame',
 'The Iliad/The Odyssey',
 'The Innocent Man: Murder and Injustice in a Small Town',
 'The Joke',
 'The Keep',
 'The King of Torts',
 'The Kite Runner',
 'The Known World',
 'The Last Juror',
 'The Little Friend',
 'The Lost World (Jurassic Park, #2)',
 'The Lovely Bones',
 'The Lover',
 "The Memory Keeper's Daughter",
 'The Metamorphosis',
 'The Metamorphosis and Other Stories',
 'The Millionaire Next Door: The Surprising Secrets of Americas Wealthy',
 'The Mysteries of Pittsburgh',
 'The Naked and the Dead',
 'The Namesake',
 'The Old Man and the Sea',
 "The Omnivore's Dilemma: A Natural History of Four Meals",
 'The Oresteia  (Ορέστεια, #1-3)',
 'The Other Boleyn Girl (The Plantagenet and Tudor Novels, #9)',
 'The Perks of Being a Wallflower',
 'The Picture of Dorian Gray',
 'The Pillars of the Earth (The Kingsbridge Series, #1)',
 "The Pilot's Wife",
 'The Plague',
 'The Plot Against America',
 'The Poisonwood Bible',
 'The Power of Myth',
 'The Prince',
 'The Prophet',
 'The Rainmaker',
 'The Realm of Possibility',
 'The Red Tent',
 'The Regulators',
 'The Republic',
 'The Rule of Four',
 'The Screwtape Letters',
 'The Sea',
 'The Secret History',
 'The Shadow of the Wind (The Cemetery of Forgotten Books,  #1)',
 'The Shell Seekers',
 'The Short Stories',
 'The Stand',
 'The Stranger',
 'The Street Lawyer',
 'The Summons',
 'The Sun Also Rises',
 'The Trial',
 'The True Confessions of Charlotte Doyle',
 "The Ultimate Hitchhiker's Guide to the Galaxy",
 'The Unbearable Lightness of Being',
 'The Vampire Armand (The Vampire Chronicles, #6)',
 'The Virgin Suicides',
 "The Winter's Tale",
 'The Witches',
 'The Witching Hour (Lives of the Mayfair Witches, #1)',
 'The World According to Garp',
 'This Side of Paradise',
 'Timeline',
 'To Kill a Mockingbird',
 'Traveling Mercies: Some Thoughts on Faith',
 'Tuesdays with Morrie',
 'Under the Banner of Heaven: A Story of Violent Faith',
 'Utopia',
 'War and Peace',
 'Watership Down (Watership Down, #1)',
 'Welcome to the Monkey House',
 'Where the Sidewalk Ends',
 'Where the Wild Things Are',
 'White Oleander',
 'Who Moved My Cheese?',
 'Wicked: The Life and Times of the Wicked Witch of the West (The Wicked Years, #1)']

### Get book recommendations!

In [71]:
def get_recommendations(book_title, topn=11):
    book_index = list(rating_pivot.index).index(book_title)
    distances, indices = model_knn.kneighbors(rating_pivot.iloc[book_index,:].values.reshape(1,-1), n_neighbors=topn)
    print('Recommendations for {}:'.format(rating_pivot.index[book_index]))
    for i in range(1, len(distances.flatten())):
        print('{}. {}, distance = {}'.format(i, rating_pivot.index[indices.flatten()[i]], "%.3f" % distances.flatten()[i]))
    print()
    
get_recommendations("Harry Potter and the Sorcerer's Stone (Harry Potter, #1)")

get_recommendations("The Chronicles of Narnia (Chronicles of Narnia, #1-7)")

Recommendations for Harry Potter and the Sorcerer's Stone (Harry Potter, #1):
1. Harry Potter and the Prisoner of Azkaban (Harry Potter, #3), distance = 0.320
2. Harry Potter and the Chamber of Secrets (Harry Potter, #2), distance = 0.327
3. Harry Potter and the Goblet of Fire (Harry Potter, #4), distance = 0.331
4. Harry Potter and the Order of the Phoenix (Harry Potter, #5), distance = 0.343
5. Harry Potter and the Half-Blood Prince (Harry Potter, #6), distance = 0.348
6. The Hobbit, distance = 0.475
7. To Kill a Mockingbird, distance = 0.507
8. The Great Gatsby, distance = 0.558
9. Angels & Demons  (Robert Langdon, #1), distance = 0.559
10. Pride and Prejudice, distance = 0.571

Recommendations for The Chronicles of Narnia (Chronicles of Narnia, #1-7):
1. Harry Potter and the Prisoner of Azkaban (Harry Potter, #3), distance = 0.682
2. Harry Potter and the Goblet of Fire (Harry Potter, #4), distance = 0.692
3. Harry Potter and the Chamber of Secrets (Harry Potter, #2), distance = 0.693
4. Harry Potter and the Half-Blood Prince (Harry Potter, #6), distance = 0.696
5. Harry Potter and the Order of the Phoenix (Harry Potter, #5), distance = 0.701
6. The Hobbit, distance = 0.714
7. Harry Potter and the Sorcerer's Stone (Harry Potter, #1), distance = 0.738
8. The Da Vinci Code (Robert Langdon, #2), distance = 0.761
9. To Kill a Mockingbird, distance = 0.766
10. Where the Wild Things Are, distance = 0.768